.gauche{width:20%;
		float:left;
		margin-left:5%;}

.droite{width:65%;
		float:right;
		margin-right:5%;}

.gauched1{width:45%;
		float:left;
		margin-right:2%;
		}
.droited1{width:45%;
		float:right;
		margin-left:2%;
		}

.textcenter{text-align:center;}
