.gauche{width:18%;
		float:left;
		margin-left:10%;
		}

.droite{width:58%;
		float:right;
		margin-right:10%;
		border-color: #0000ff;
		border-left-style:solid;}

.gauched1{width:45%;
		float:left;
		margin-right:2%;
		}
.droited1{width:45%;
		float:right;
		margin-left:2%;
		}

.textcenter{text-align:center;}
.menu{
	margin-left:10%;
	margin-right:10%;
}
